body{
    margin:0px;
    background-color: #000000;
}

#Div1{
    background-color:aqua;
    height: 300px;
}

#H1{
    color:whitesmoke;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#InnerDiv1{
    margin-left: 30px;
    width: 90%;
    height: 90%;
}

#InnerDiv2{
    margin-left: 30px;
    width: 90%;
    height: 90%;
}

#Div2{
    background-color:#30404D;
    border:white;
    border-radius: 8px;
}

#Div3{
    background-color:#30404D;
    border:white;
    border-radius: 8px;
}